:root {
    --main: hsl(0, 0%, 13%);
    --accent: #6B74BB;
    --fancy: #CA9C6A;
}

@font-face {
    font-family: "Poneglyph";
    src: url("assets/Poneglyph.ttf");
}

html {
    height: 100%;
    font-family: "Inter", sans-serif;
}

body {
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    background: #F9F9F5;
    overflow-y: scroll;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("assets/images/swirls.png");
    background-repeat: repeat;
    background-size: 150px;
    opacity: 0.025;
    z-index: -1;
}

header {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .title {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

header .title h1 {
    font-size: 1.2rem;
    color: #333333;
}

header img {
    height: 50px;
    padding-right: 15px;
}

header li:hover {
    transform: translate(0, -1px);
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1)); 
}

header nav a {
    color: #333333;
    text-decoration: none;
}

nav {
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

nav li {
    display: inline-block;
}

nav li .current {
    font-weight: 500;
    text-decoration: underline;
}

section {
    /* padding: 10px 40px; */
    margin: 3rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

section button {
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 0.3rem;
    width: 10rem;
    height: 3rem;
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.1));
    transition: .3s;
    cursor: pointer;
}

section button:hover {
    background-color: #565d96;
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.2));
}

section button svg {
    height: auto;
    max-width: 70px;
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.1));
    transition: transform .3s ease-out;
}

section button svg:hover {
    transform: translate(0, -3px);
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.15));
}

section h1 {
    text-align: center;
    /*font-size: 2em;*/
    line-height: 1.1;
}

section > h1 {
    margin: 0.5rem;
}

section h2 {
    text-align: center;
    /*font-size: 1.5em;*/
    line-height: 1.1;
    margin: 0 0 0.5rem 0;
}

section h3 {
    margin: 0 0 0.5rem 0;
}

section p {
    text-align: center;
    /*font-size: 1.25em;*/
    line-height: 1.4;
}

.landing-link {
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 1rem;
    padding: 2rem;
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.1));
    transition: transform 0.2s ease;
}

.landing-link h1, .landing-link h2, .landing-link p {
    color: white;
}

.landing-link:hover {
    transform: scale(1.02);
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.2));
}

section .landing-link:nth-of-type(1) {
    background: #5EBC5C;
}

section .landing-link:nth-of-type(2) {
    background: #BC5C5C;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0rem 1rem;
    width: 50%;
    justify-content: center;
}

.dropdown-button {
    width: 100%;
    padding: 12px 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #CCCCCC;

    color: black;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: "Inter", sans-serif;
}

.dropdown-button img {
    max-width: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    flex: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #DDDDDD;
    z-index: 1;
}

.dropdown-content .dropdown-item {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.dropdown-content .dropdown-item .checkbox-label {
    padding-left: 5px;
}

.dropdown-content a:hover {
    background-color: #F1F1F1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #F1F1F1;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.fruits {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#devil-fruit-card {
    margin-top: 1rem;
}

#devil-fruit-img {
    max-height: 10rem;
}

#devil-fruit-info {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.encyclopedia {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.encyclopedia>div {
    width: 200px;
}

.encyclopedia img {
    max-height: 100px;
    max-width: 90px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem 2rem 1rem 2rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    max-width: 50%;
    min-width: 200px;
}

.card h1 {
    font-size: 1.3rem;
    color: #333333;
    margin-bottom: 0.4rem;
}

.card h2 {
    font-size: 1.1rem;
    color: #777777;
    font-weight: 500;
}

/*.card p {
    font-size: 1rem;
}*/

.encyclopedia .card {
    padding: 1rem 1rem 0.5rem 1rem;
}

#total-fruits {
    margin-bottom: 0;
}

footer {
    padding: 1rem;
    margin-top: auto;
}

footer p {
    color: #BABABA;
    text-align: center;
    font-size: 0.85rem;
}

.scene {
  width: 200px;
  height: 200px;
  margin: 30px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
  animation: turn 30s linear infinite;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

@keyframes turn {
   0%   {transform: translateZ(-100px) rotateY(   0deg);}
   100% {transform: translateZ(-100px) rotateY(   -360deg);}
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
  background: url("assets/images/poneglyph.png"), #b7474e;
  background-size: contain;
  border: 2px solid #451C20;
  color: rgba(0,0,0,0.6);
  font-family: "Poneglyph";
  font-size: 1rem;
  line-height: 1rem;
  word-break: break-all;
  box-sizing: border-box;
  padding: 0.5rem;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   {
    transform: rotateY(180deg) translateZ(100px);
    background: url("assets/images/poneglyph_back.png"), #b7474e !important;
    background-size: contain !important;
}
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

svg {
    fill: var(--main);
}

hr {
    border: 1px solid rgb(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4 {
    color: rgb(52, 52, 52, 0.9);
    font-family: "Inter", sans-serif;
}

p {
    size: 16px;
    line-height: 1.5;
    color: rgb(33, 33, 33, 0.99);
}

@media only screen and (max-width: 780px) {
    .card {
        margin-left: 0rem;
        margin-right: 0rem;
        max-width: 90%;
    }

    .filter {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .filter {
        width: 100%;
    }
}